
{% extends "corr_monitor/base_site.html" %}
{% block branding %} 

<form style="float:right" action="/corr_monitor/settings/" method="POST">
{{dbform.refdb.errors}}<label for="id_refdb">Choose source db:</label>
{{dbform.refdb}}
<input type="submit" value="Update"> 
</form>
{{block.super}}
{% if time %}
Last database sync: {{time|date:"D d M Y"}}|{{time|time:"H:i:ss"}}
{% endif %}
{% endblock %}
{% block breadcrumbs %}
{{block.super}}&nbsp;&mdash;&nbsp;<a href="/admin/corr_monitor/">Admin</a>
&nbsp;&mdash;&nbsp;<a href="/corr_monitor/update/">Rebuild DB</a>
&nbsp;&mdash;&nbsp;<a href="/corr_monitor/help/">Help</a>
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/corr_monitor/media/css/corr.css">
{% endblock %}
{% block content %}



{% block main_display %}

{% endblock main_display %}

{% endblock %}